<div class="print-format landscape">
    <div id="header-html" class="hidden-pdf">
        {% if letter_head %}
        <div class="letter-head text-center">{{ letter_head.content }}</div>
        <hr style="height:2px;border-width:0;color:black;background-color:black;">
        {% endif %}
    </div>
    <div id="footer-html" class="visible-pdf">
        {% if letter_head.footer %}
        <div class="letter-head-footer">
            <hr style="border-width:0;color:black;background-color:black;padding-bottom:2px;">
            {{ letter_head.footer }}
        </div>
        {% endif %}
    </div>

    <h2 class="text-center">{{ _("Stock Balance") }}</h2>
    <h3 class="text-center">{{frappe.format(filters.get('from_date'), {'fieldtype': 'Date'}) }}  To {{frappe.format(filters.get('to_date'), {'fieldtype': 'Date'}) }} </h3>

        <br>
    <style>
        tr,
        td {
            font-size: 11px;
        }
    </style>
		{% set vars = {'bal_qty': 0} %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _("Sr.") }}</th>
                <th>{{ _("Item") }}</th>
                <th>{{ _("Item Name") }}</th>
                <th>{{ _("Item group") }}</th>
                <th>{{ _("Warehouse") }}</th>
                <th>{{ _("Balance QTY") }}</th>
                <th>{{ _("Stock UOM") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            {% if vars.update({'bal_qty': vars.bal_qty+ row.bal_qty}) %} {% endif %}

            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.item_code }}</td>
                <td>{{ row.item_name }}</td>
                <td>{{ row.item_group }}</td>
                <td>{{ row.warehouse }}</td>
                <td style="text-align: right;">{{ row.bal_qty }}</td>
                <td>{{ row.stock_uom }}</td>

            </tr>
            {% endfor %}
            <tr>
                <td colspan="5" style="text-align: right;"><b>Total</b></td>
                <td  style="text-align: right;"><b>{{ vars.bal_qty }} </b></td>
                <td > </td>
            </tr>
            
            
        </tbody>
    </table>


</div>